* {
  margin: 0;
}

body {
  color: #ececec;
  background: #000e35;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  padding: 10px;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
}

main {
  flex-grow: 1;
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .copyright,
footer .logo-github {
  font-size: 14px;
  color: #ececec;
  text-align: center;
}

footer .copyright a,
footer .logo-github a {
  color: #4335ff;
  transition: 0.5s ease-in-out;
}

footer .copyright:before {
  content: '©';
}

.logo-github {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 10%;
  background-color: #3ca4ff;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.error-message {
  color: #ff0000;
  text-align: center;
  padding: 0 10px;
  position: relative;
  bottom: 25px;
}

::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3ca4ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #4335ff;
}

@media (hover: hover) {
  footer .copyright a:hover,
  footer .logo-github a:hover {
    color: #75bfff;
  }

  .logo:hover {
    border-color: #d527ef;
    color: #e7a0f2;
    box-shadow: 0 0.5em 0.5em -0.4em #ed77ff;
    transform: translateY(-0.50em);
  }
}

@media (max-width: 640px) {
  .logo {
    width: 80px;
  }
}
