.articles {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.article {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #333;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  overflow: hidden;
  border-radius: 30px;
  transition: 0.25s;
  width: 100%;
}

.article__meta-photo {
  transform: scale(1.3) rotate(3deg);
}

.article .article__meta {
  position: relative;
  height: 200px;
}

.article .article__meta-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.article .article__meta-details,
.article .article__meta-details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.article .article__meta-details {
  position: absolute;
  top: 0;
  bottom: -10px;
  left: -120%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.article .article__description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.article .article__description h2 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.article .article__description h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.article .article__description .article__read-more {
  text-align: right;
}

.article .article__description .article__read-more a {
  color: #e7a0f2;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 800;
}

.article .article__description .article__read-more a:after {
  content: '→';
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.article p {
  margin: 1rem 0 0;
}

.article p:first-of-type {
  margin-top: 1.25rem;
  position: relative;
}

.article p:first-of-type:before {
  content: '';
  position: absolute;
  height: 5px;
  background: #d527ef;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

@media (hover: hover) {
  .article:hover {
    transform: scale(1.3) rotate(3deg);

    border-color: #d527ef;
    box-shadow: 0 0.5em 0.5em -0.4em #ed77ff;
    transform: translateY(-0.25em);
  }

  .article .article__description .article__read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }

  .article:hover .article__meta-details {
    left: 0%;
  }
}

@media (min-width: 640px) {
  .article {
    flex-direction: row;
    max-width: 700px;
  }

  .article .article__meta {
    flex-basis: 40%;
    height: auto;
  }

  .article .article__description {
    flex-basis: 60%;
  }

  .article .article__description:before {
    -webkit-transform: skewX(-3deg);
    transform: skewX(-3deg);
    content: '';
    background: #fff;
    width: 300px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .article.alt {
    flex-direction: row-reverse;
  }

  .article.alt .article__description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }

  .article.alt .article__meta-details {
    padding-left: 25px;
  }
}
