header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

nav > ul {
    display: flex;
    gap: 40px;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

nav > ul > li > a {
    position: relative;
}

.menu-button > a {
    position: relative;
    font-weight: 600;
}

.menu-button > a > img {
    width: 20px;
    height: 20px;
}

nav > ul > li > a::after, .menu-line::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -5px;
    width: 0;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s;
}

.menu-line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}
