nav>ul>li>a:hover::after,
.menu-line:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #403F3D;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    /* 75.6px */
}

h1>span {
    color: #B0907A;
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
}

h2>span {
    color: #B0907A;
    font-style: italic;
}

.about>h2>b {
    font-size: 59px;
}

.enjoy {
    background-image: url(../img/index-page/container.jpg);
    background-image: url(./assets/video.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    color: #E1D4C9;
    display: flex;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.enjoy__video-container {
    border-radius: 40px;
    overflow: hidden;
}

.enjoy__video {
    max-width: 1550px;
    padding: 0 100px 0 100px;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
}

.enjoy__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
}

.enjoy__content>span {
    line-height: 150%; /* 24px */
}

.enjoy__content>a {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 100px;
    background-color: #E1D4C9;
    cursor: pointer;
    height: 64px;
    color: #403F3D;
    font-weight: 600;
    line-height: 150%;
    /* 24px */

    .button__menu {
        position: relative;
        right: -12px;
        transition: all 0.5s ease-in-out;
    }

    .button__svg-coffee-cup {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
}

.favourites-coffee {
    width: 100%;
}

.slider__container_with-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__container {
    max-width: 480px;
    overflow: hidden;
}

.slider__line {
    width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    transition: left 1s ease-in-out;
}

.slider__arrow-left,
.slider__arrow-right {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
    stroke: #403F3D;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    margin-bottom: -40px;
    cursor: pointer;
}

.slider__image {
    display: flex;
    flex-direction: column;
    width: 480px;
}

.slider__image img {
    padding: 40px 0 20px 0;
}

.slider__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.slider__text>p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.slider__text>span {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 -7px 0;
}

.pagination__item {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
    transition: background-color 0.3s ease-in-out;
}

.pagination__container {
    padding: 6px;
    cursor: pointer;
}

.pagination__item_checked {
    background-color: #665F55;
}

.gallery {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(2, 48.5%);
    grid-template-rows: 430px 120px 430px;
    grid-template-areas:
        "a b"
        "a d"
        "c d";
}

.gallery__container {
    display: inline-block;
    gap: 40px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.gallery__container img {
    display: block;
    transform: scale(1.1);
    transition: transform 0.5s;
    position: relative;
    top: -35px;
}

.gallery__container_short img {
    display: block;
    position: relative;
    top: -116px;
}

.gallery__container:nth-child(1) {
    grid-area: a;
}

.gallery__container:nth-child(2) {
    grid-area: b;
}

.gallery__container:nth-child(3) {
    grid-area: c;
    /* grid-row: 3; */
}

.gallery__container:nth-child(4) {
    grid-area: d;
    /* grid-row: 2 / span 2; */
}

.download-app {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.download-app__left-side {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 40px;
}

.download-app__left-side>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.download-app__img img {
    align-self: center;
    max-width: 100%;
    height: auto;
}

.download-app__buttons {
    display: flex;
    gap: 20px;
}

.download-app__buttons>a {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #676056;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.download-app__buttons>a>svg {
    fill: #403F3D;
    transition: fill 0.5s ease-in-out;
}

.download-app__button-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: start;
}

.download-app__button-text>span:first-child {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    /* 14px */
}

.download-app__storage-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

@media (hover: hover) {
    .enjoy__content>a:hover {
        .button__menu {
            position: relative;
            right: 0px;
        }

        .button__svg-coffee-cup {
            opacity: 1;
        }
    }

    .slider__arrow-left:hover,
    .slider__arrow-right:hover {
        stroke: #E1D4C9;
        background-color: #665F55;
    }

    .pagination__container:hover {
        .pagination__item {
            background-color: #665F55;
        }
    }

    .gallery__container:hover img {
        transform: scale(1.0);
        transform-origin: 50% 50%;
    }

    .download-app__buttons>a:hover {
        background-color: #665F55;
        color: #E1D4C9;
    }

    .download-app__buttons>a:hover>svg {
        fill: #E1D4C9;
    }
}

@media (max-width: 1200px) {
    .gallery__container img {
        right: 130px;
    }
}

@media (max-width: 1000px) {
    .download-app {
        flex-direction: column;
    }

    .download-app__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download-app__img>img {
        max-width: 100%;
    }

    .download-app__left-side {
        width: 100%;
    }
}

@media (max-width: 815px) {
    .gallery__container img {
        right: 160px;
    }
}

@media (max-width: 768px) {
    .enjoy {
        padding: 100px 60px;
    }

    .enjoy__content>a .button__menu {
        right: 0;
        transition: none;
    }

    .enjoy__content>a .button__svg-coffee-cup {
        opacity: 1;
        transition: none;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 590px);
        grid-template-areas:
            "a"
            "d";
    }

    .gallery__container_short {
        display: none;
    }

    .gallery__container img {
        right: -14px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    .about>h2>b {
        font-size: 40px;
    }

    .slider__container_with-arrows {
        justify-content: center;
    }

    .slider__arrow-left,
    .slider__arrow-right {
        display: none;
    }

    .gallery__container img {
        left: -80px;
    }

    .download-app {
        gap: 0;
    }
}

@media (max-width: 500px) {
    .slider__image {
        max-width: 375px;
    }

    .gallery__container img {
        left: -160px;
    }

    .download-app__buttons {
        gap: 10px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 40px;
        line-height: 115%;
        /* 48.3px */
    }

    h2 {
        font-size: 32px;
    }

    .about>h2>b {
        font-size: 32px;
    }

    .enjoy {
        padding: 60px 16px 60px 16px;
    }

    .slider__image img {
        width: 348px;
    }

    .gallery__container img {
        left: -157px;
        top: -35px;
    }

    .download-app {
        gap: 40px;
    }

    .download-app__buttons {
        flex-direction: column;
    }

    .download-app__img img {
        width: 348px;
        height: 348px;
    }

    .download-app__buttons {
        gap: 20px;
    }
}