nav > ul > li > a:hover::after {
	content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color:#403F3D;
}

.menu-text {
    font-weight: 600;
    cursor: default;
}

.menu-button::after {
    content: "";
    display: block;
    margin-top: 4px;
    height: 2px;
    width: 100%;
    background-color:#403F3D;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%; /* 75px */
}

h1 > span {
    color: #B0907A;
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%; /* 75px */
}

h2 > span {
    color: #B0907A;
    font-style: italic;
}

.title_width {
    max-width: 800px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__buttons {
    margin: 36px 30px 40px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu__button {
    display: inline-block;
}

.menu__button input[type="radio"] {
    display: none;
}

.menu__button label {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #C1B6AD;
    color:#403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.menu__button-circle {
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #C1B6AD;
    transition: background-color 0.5s ease-in-out;
}

.menu__button input[type="radio"]:checked + label {
    background-color: #665F55;
    color: #E1D4C9;
    cursor: default;
}

.menu__button input[type="radio"]:checked + label > span {
    background-color: #E1D4C9;
}

.menu-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-card {
    display: flex;
    height: 506px;
    width: 310px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    cursor: pointer;
}

.menu-card__container {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-card__container img {
    display: block;
    width: 309px;
    border-radius: 40px;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.menu-card__text {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.menu-card__text > p {
    color: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.menu-card__text > span {
    color: #403F3D;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.menu-card__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.menu-card__description > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

@media (hover: hover) {
    .menu__button label:hover {
        background-color: #665F55;
        color: #E1D4C9;
    }

    .menu__button:hover .menu__button-circle  {
        background-color: #E1D4C9;
    }

    .menu-card:hover img {
        transform: scale(1.0);
        transform-origin: 50% 50%;
    }
}

@media (max-width: 815px) {
    .title_width {
        max-width: 80%;
    }

    .menu-card_hidden {
        display: none;
    }
}

@media (max-width: 400px) {
    h1, h2 {
        font-size: 32px;
    }

    .menu__buttons {
        gap: 8px;
    }
}