*,
*::after,
*::before {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to left, #20d258, #83f7a2);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.hints-container-horizontal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.hints {
  display: flex;
  flex-direction: column;

  font-size: 25px;
  font-weight: 700;
  color: #636ddd;
}

.hints-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  left: -70px;
  top: 70px;
  gap: 70px;
}

.hint {
  font-size: 25px;
  font-weight: 700;
  color: #636ddd;
}

.playing-area {
  width: 500px;
  height: 500px;
  border-top: 5px solid #333333;
  border-left: 5px solid #333333;
}

.row {
  display: flex;
  height: 99px;
}

.cell {
  background-color: #ececec;
  display: flex;
  border: 1px solid #333333;
  width: 100px;
  cursor: pointer;
}

.cell.crossed {
  background-color: #c9f3a7;
}

.hidden {
  background-color: #ececec;
}

.guessed {
  background-color: #333333;
}