*,
*::after,
*::before {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to left, #20d258, #83f7a2);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-with-left-hints {
  position: relative;
}

.hints-container-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 10px;
}

.hints-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: 700;
  color: #636ddd;
}

.hints-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 70px;
  left: -90px;
  top: 30px;
  gap: 50px;
}

.hints-left {
  font-size: 25px;
  font-weight: 700;
  color: #636ddd;
}

.playing-area {
  width: 400px;
  height: 400px;
  border-top: 5px solid #333333;
  border-left: 5px solid #333333;
}

.row {
  display: flex;
  height: 79px;
}

.cell {
  background-color: #ececec;
  display: flex;
  border: 1px solid #333333;
  width: 100px;
  cursor: pointer;
}

.cell.blacked {
  background-color: #333333;
}

.cell.crossed {
  background-image: url('cross.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  background-color: #ececec;
}

.guessed {
  background-color: #333333;
}